<p id="notice"><%= notice %></p>

<header>
  <h1>Check Split Check</h1>
</header>

<h1><%= current_user.email %></h1>
<%= link_to 'Back', restaurants_path %>
<div class="row">
        <div class="column">
            <h2>Comments</h2>
        </div>
        <div class="column">
            <h2>Favorites</h2>
            <table>
              <% @favorites.each do |favorite| %>

                <tr>
                  <td><%= favorite.created_at %></td>
                  <td><%= favorite.restaurant.name %></td>
                  <td><%= favorite.restaurant.location %></td>
                </tr>
              <% end %>
            </table>
        </div>
        <div class="column">
            <h2>Votes</h2>
            <table>
              <% @votes.each do |vote| %>

                <tr>
                  <td><%= vote.created_at %></td>
                  <td><%= vote.restaurant.name %></td>
                  <td><%= vote.restaurant.location %></td>
                  <% if vote.willSplit %>
                  <td><p>will split</p></td>
                  <% else %>
                  <td><p>will not split</p></td>
                  <% end %>
                </tr>
              <% end %>
            </table>

        </div>
    </div>
<%= link_to 'Back', restaurants_path %>
