<p id="notice"><%= notice %></p>

<header>
  <h1>Check Split Check</h1>
</header>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @restaurant.location %>
</p>

<p>
  <strong>Countwillsplit:</strong>
  <%= @restaurant.countWillSplit %>
</p>

<p>
  <strong>Countwillnotsplit:</strong>
  <%= @restaurant.countWillNotSplit %>
</p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
